:root {
  --brand-red:    hsla(353, 88%, 49%, 1);
  --brand-salmon: hsla(353, 88%, 49%, 1);     // I need to check to find the right salmon color from brand guide
  --brand-pink:   hsla(330, 100%, 69%, 1);

  --brand-orange:      hsla(25, 100%, 50%, 1);
  --brand-warm-orange: hsla(36, 100%, 50%, 1);
  --brand-cool-orange: hsla(45, 100%, 56%, 1);

  --brand-green:      hsla(158, 71%, 27%, 1);
  --brand-warm-green: hsla(144, 90%, 36%, 1);
  --brand-cool-green: hsla(154, 99%, 45%, 1);

  --brand-blue:        hsla(211, 100%, 36%, 1);
  --brand-royale-blue: hsla(244, 93%, 32%, 1);
  --brand-ice-blue:    hsla(189, 68%, 65%, 1);
}
