:root {
  --grey-0:  #F9F9FA;
  --grey-10: #F2F3F5;
  --grey-20: #E7E9EC;
  --grey-30: #DADBDF;
  --grey-40: #C2C4C9;
  --grey-50: #A8ABB2;
  --grey-60: #8E919A;
  --grey-70: #737782;
  --grey-80: #5A5E6A;
  --grey-90: #444753;
  --grey-100:#353841;
  --grey-200:#2B2D35;
  --grey-300:#23242A;
}
:root {
  --binary-0: #000000;
  --binary-1: #ffffff;
}
