:root {
  --trans-dark-0:   hsl(0 0% 0% / 0.00);
  --trans-dark-2:   hsl(0 0% 0% / 0.02);
  --trans-dark-3:   hsl(0 0% 0% / 0.03);
  --trans-dark-4:   hsl(0 0% 0% / 0.04);
  --trans-dark-5:   hsl(0 0% 0% / 0.05);
  --trans-dark-10:  hsl(0 0% 0% / 0.10);
  --trans-dark-15:  hsl(0 0% 0% / 0.15);
  --trans-dark-20:  hsl(0 0% 0% / 0.20);
  --trans-dark-25:  hsl(0 0% 0% / 0.25);
  --trans-dark-30:  hsl(0 0% 0% / 0.30);
  --trans-dark-35:  hsl(0 0% 0% / 0.35);
  --trans-dark-40:  hsl(0 0% 0% / 0.40);
  --trans-dark-45:  hsl(0 0% 0% / 0.45);
  --trans-dark-50:  hsl(0 0% 0% / 0.50);
  --trans-light-0:  hsl(0 0% 100% / 0.00);
  --trans-light-2:  hsl(0 0% 100% / 0.02);
  --trans-light-3:  hsl(0 0% 100% / 0.03);
  --trans-light-4:  hsl(0 0% 100% / 0.04);
  --trans-light-5:  hsl(0 0% 100% / 0.05);
  --trans-light-10: hsl(0 0% 100% / 0.10);
  --trans-light-15: hsl(0 0% 100% / 0.15);
  --trans-light-20: hsl(0 0% 100% / 0.20);
  --trans-light-25: hsl(0 0% 100% / 0.25);
  --trans-light-30: hsl(0 0% 100% / 0.30);
  --trans-light-35: hsl(0 0% 100% / 0.35);
  --trans-light-40: hsl(0 0% 100% / 0.40);
  --trans-light-45: hsl(0 0% 100% / 0.45);
  --trans-light-50: hsl(0 0% 100% / 0.50);
}
