:root {
  --font-size-8:  8px;
  --font-size-11: 11px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-22: 22px;
  --font-size-28: 28px;
  --font-size-36: 36px;
  --font-size-48: 48px;
  --font-size-64: 64px;
  --font-size-96: 96px;
}
